<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">

        <div name="context_text" class="instance">
          <div name="instance_text" style="width: 100%;">
            {{instance | safe}}
          </div>
        </div>
        <br>
        <div name="context_text" class="instance">
          <div name="instance_text" style="width: 100%;">
            {{item | safe}}
          </div>
        </div>
        <br>
        <div name="context_text" class="instance" style="width: 80%; background-color: #fffcf5;">
          <div name="instance_text">
            {{question  | safe}} 
          </div>
        </div>
        <br>
        <div class="annotation_schema">
            {{annotation_schematic_1}}
        </div>
        <div class="annotation_schema">
            {{annotation_schematic_2}}
        </div>
        <div class="annotation_schema">
          {{annotation_schematic_3}}
      </div>
      <div class="annotation_schema">
        {{annotation_schematic_4}}
    </div>

      </div>
    </div>
  </div>
</div>